/* 
===========================================
Created by: Maro Al-Kades
Contact:
    Website ==> https://maro-al-kades.github.io/Personal-Website/#
    whatsapp Or Calling ==> +201014344053
    Facebook==> Maro Asam
    Instagram==> al_kades_programming
============================================  
*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;
}
.container {
    background: linear-gradient(#111,#7a5e01);
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 20px 0;
}
header ul li .lang {
    padding-left: 150px;
    color: #fff;
    display: block;
}
.logo {
    width: 40px;
    transition: 1s;
}

ul li {
    display: inline-block;
    list-style-type: none;
    transition: 0.6s;
    border-radius: 20px;
}
ul li:hover {
    transform: scale(1.2);
    background-color: transparent;
    color: gold;
    border-radius: 20px;
}
ul li a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin:auto;
}
.content .text {
    width: 40%;
    color: #fff;
}
.content .text h2 {
    font-size: 40px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.7s;
}
.content .text h2:hover {
    color: gold;
    padding-left: 20px;
}
.content .text p {
    font-size: 18px;
    margin: 20px 0;
    padding-bottom: 15px;
}
.content .text a {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 8px 15px;
    border-radius: 20px;
    transition: 1s;
    font-weight: bolder;
    font-size: 20px;
}
.content .text a:hover {
    background-color: transparent;
    color: black;
    background-color: gold;
}
.content .image {
    width: 30%;
}
.content .image img {
    width: 230px;
    transition: 0.7s;
    cursor: pointer;
}
.content .image img:hover {
    transform: scale(1.1);
}
.icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}
.icons img {
    width: 60px;
    transition: 0.7s;
    cursor: pointer;
}
.icons img:hover {
    transform:scale(1.2);
}